### Basic Operations

##### # 1 Accdpts two intger inputs from the user

In [ ]:
num1 = int(input("Enter the first interger: "))
num2 = int(input("Enter the second interger: "))
print(f"You entered {num1} and {num2}.")

You entered 45 and 65.

##### 2. Performs the following operations using arithmetic operators:
##### 3. Prints the results in a well-formatted way using f-strings.

In [4]:
 # Addition
addition = num1 + num2
print(f"addition: {addition}")
# Subtraction
subtraction = num1 - num2
print(f"subtraction: {subtraction}")
# Multiplication
multiplication = num1 * num2
print(f"Multiplication: {multiplication}")
# Division
division = num1 / num2
print(f"Division: {division}")
# Modulus
modulus = num1 % num2
print(f"Modulus: {modulus}")
# Exponentiation
exponentiation = num1 ** num2
print(f"Exponentiation: {exponentiation}")
# Floor Division
floor_division = num1 // num2
print(f"Floor Division: {floor_division}")

addition: 110
subtraction: -20
Multiplication: 2925
Division: 0.6923076923076923
Modulus: 45
Exponentiation: 287616233996758386293038843954684893419910825453736049472704152632669682976285230324720032513141632080078125
Floor Division: 0

### Task 2: Working with Lists and Arrays

##### 1. Create a list containing at least 10 numbers.

In [5]:
# Create a list of containing at least 10 numbers
numbers = [12, 45, 23, 67, 34, 89, 90, 11, 5, 78]

##### 2. Perform the following:

In [6]:
# Print the length of the list
print(f"Length of the list: {len(numbers)}")
# find the maximun and mininum number in the list
print(f"Maximun number: {max(numbers)}")
print(f"Mininum number: {min(numbers)}")
# Add a new element and remove an element from the list
numbers.append(100)
print(f"List after adding 100: {numbers}")
numbers.remove(23)
print(f"List after removing 23: {numbers}")
# Sort the list in ascending and descending order
numbers.sort()
print(f"List in ascending order: {numbers}")
numbers.sort(reverse=True)
print(f"List in descending order: {numbers}")

Length of the list: 10
Maximun number: 90
Mininum number: 5
List after adding 100: [12, 45, 23, 67, 34, 89, 90, 11, 5, 78, 100]
List after removing 23: [12, 45, 67, 34, 89, 90, 11, 5, 78, 100]
List in ascending order: [5, 11, 12, 34, 45, 67, 78, 89, 90, 100]
List in descending order: [100, 90, 89, 78, 67, 45, 34, 12, 11, 5]

### 3. Convert the list into a NumPy array and calculate:

In [7]:
# Convert the list into a Numpy array 
import numpy as np
np_array = np.array(numbers)
print(f"Numpy array: {np_array}")

index_min = np.argmin(np_array)
print(f"Index of minimun element: {index_min}")

Numpy array: [100  90  89  78  67  45  34  12  11   5]
Index of minimun element: 9

In [8]:
# Calculate the following statistics from the list:
# Mean
mean = np.mean(np_array)
print(f"Mean: {mean}")
# Median
median = np.median(np_array)
print(f"Median: {median}")
# Standard Deviation
std_dev = np.std(np_array)
print(f"Standard Deviation: {std_dev}")
# Variance 
variance = np.var(np_array)
print(f"Variancd: {variance}")
# Sum of all elements 
sum_elements = np.sum(np_array)
print(f"Sum of all elements: {sum_elements}")
# Count of elements greater than a specified value 
count_greater_than_50 = np.sum(np_array > 50)
print(f"Count of elements greater than 50: {count_greater_than_50}")
# Find the index of the maximun and minimun elements
index_max = np.argmax(np_array)
print(f"Index of maximun element: {index_max}")

Mean: 53.1
Median: 56.0
Standard Deviation: 34.45126993305181
Variancd: 1186.8899999999999
Sum of all elements: 531
Count of elements greater than 50: 5
Index of maximun element: 0

### 3: Dictionaries and Sets

##### 1. Create a dictionary named student with keys: name, age, course, marks.

In [9]:
#  Create a dictionary named student with keys: name, age, course, marks. 
student = {
    "name": "Sachin",
    "age": 21,
    "course": "Computer Science",
    "marks": 88
}

##### 2. Print each key-value pair using a loop.

In [10]:
# Print each key-value pair using a loop.
for key, value in student.items():
    print(f"{key}: {value}")

name: Sachin
age: 21
course: Computer Science
marks: 88

##### 3. Add a new key called grade with a value of your choice.

In [11]:
# Add a new key called grade with a value of your choice.
student["grade"] = "A"
print(f"Updated student dictionary: {student}")

Updated student dictionary: {'name': 'Sachin', 'age': 21, 'course': 'Computer Science', 'marks': 88, 'grade': 'A'}

##### 4. Create a set of unique courses (e.g., {“Python”, “Data Science”, “AI”, “Python”}) and display it.

In [12]:
# Create a set of unique courses (e.g., {“Python”, “Data Science”, “AI”, “Python”}) and display it. 
courses = {"Python", "Data Science", "AI", "Python"}
print(f"Unique courses: {courses}")

Unique courses: {'Python', 'Data Science', 'AI'}

##### 5. Perform set operations — union, intersection, and difference — between two sets of sample data.

In [14]:
# Perform set operations — union, intersection, and difference — between two sets of sample data.
set1 = {"Python", "Data Science", "AI"}
set2 = {"AI", "Machine Learning", "Deep Learning"}
# Union 
union_set = set1.union(set2)
print(f"Union: {union_set}")
# Intersection
intersection_set = set1.intersection(set2)
print(f"Intersection: {intersection_set}")
# Difference
difference_set = set1.difference(set2)
print(f"Difference: {difference_set}")

Union: {'Machine Learning', 'Data Science', 'Deep Learning', 'Python', 'AI'}
Intersection: {'AI'}
Difference: {'Python', 'Data Science'}

### Task 4: File Handling

##### 1. Create a text file named student_data.txt.

In [15]:
#  Create a text file named student_data.txt. 
with open("student_data.txt", "w") as file:
    file.write("Student Data\n")
    file.write(f"Name : {student['name']}\n")
    file.write(f"Age : {student['age']}\n")
    file.write(f"Course: {student['course']}\n")
    file.write(f"Marks: {student['marks']}\n")

##### 2. Write the following information into the file (name, course, and marks of at least 5 students). 
##### 3. Read the file and display only those students whose marks are above 75.

In [19]:
# Step 1 & 2: Write student information into a file
with open("student_data.txt", "w") as file:
    students = [
        {"name": "Alice", "course": "Math", "marks": 85},
        {"name": "Bob", "course": "Physics", "marks": 90},
        {"name": "Charlie", "course": "Chemistry", "marks": 78},
        {"name": "David", "course": "Biology", "marks": 92},
        {"name": "Eve", "course": "Computer Science", "marks": 88}
    ]
    
    for stu in students:
        file.write(f"Name: {stu['name']}, Course: {stu['course']}, Marks: {stu['marks']}\n")


# Step 3: Read file and display only students whose marks are above 75
print("Students with marks above 75:")
with open("student_data.txt", "r") as file:
    for line in file:
        line = line.strip()

        # Skip empty or malformed lines
        if not line or "Marks:" not in line:
            continue
        
        parts = line.split(", ")

        # Extract marks
        marks = int(parts[2].split(": ")[1])

        if marks > 75:
            print(line)

Students with marks above 75:
Name: Alice, Course: Math, Marks: 85
Name: Bob, Course: Physics, Marks: 90
Name: Charlie, Course: Chemistry, Marks: 78
Name: David, Course: Biology, Marks: 92
Name: Eve, Course: Computer Science, Marks: 88